@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color: #437b5c;
    --main-color3: #5a9f79;
    --main-color4: #2f5741;
    --main-color1: #699f81;
    --main-color2: #8dac9b;
    --black: #3f4f47;
    --white: #fff;
    --light-black: #777777;
    --light-white: rgba(255, 255, 255, 0.815);
    --dark-bg: rgba(0,0,0,.7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow: auto;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-color2);
}

section
{
    padding: 5rem 10%;
}
@keyframes fadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

/* about */
.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom: 10rem;
   display: flex;
   align-items: center;
   justify-content: center; 
}
.heading h1{
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}



.btn{
    display: inline-block;
    background: rgb(42, 41, 41);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}
.btn:hover{
    background: var(--main-color);
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--black);
}


.header{
    position: sticky;
    top: 0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
}
.header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    font-weight: 450;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--main-color1);
}



#menu-btn{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}



.home{
    padding: 0;
}
.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}
.home .slide .content{
    width: 85rem;
    display: none;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation: fadeIn .2s linear backwards .2s;
}
.home .slide .content h3{
    font-size: 3.5vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn .2s linear backwards .4s;
}
.home .slide .content .btn{
    animation: fadeIn .2s linear backwards .6s;
}
.home .swiper-button-next,
.home .swiper-button-prev{
    color: var(--white);
}
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    color: black;
}
/* Style for the search section in home */
.home .search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    background: var(--light-white);
}
.home .search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.home .search button i {
    font-size: 18px;
    color: var(--white);
}






.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
}
.categories .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color3);
}
.categories .box-container .box:hover{
    background: var(--black);
}
.categories .box-container .box img{
    height: 7rem;
}
.categories .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}





.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-about .image{
    flex: 1 1 35rem;
}
.home-about .image img{
    width: 100%;
}
.home-about .content{
    flex: 1 1 40rem;
    padding: 3rem;
    background: var(--light-bg);
}
.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}




.home-destinations{
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
    
    /* border: 1px solid black; */
    top: 20px;
    /* background: black; */
    border-radius: 10px;
    padding-bottom: 120px;
    /* box-shadow: 0px 20px 25px -10px rgb(165, 165, 165); */
}
.home-destinations h1{
    
    margin-top: 0;
    padding: 15px 0px 13px 1.7%;
    color: var(--main-color4);   
    font-size: 30px;
    text-align: center;
}
.home-destinations .cards{
    width: 100%;
    height: auto; 
    margin: 5px auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home-destinations .cards .card{
    width: 290px;
    height: 300px; 
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
.home-destinations .cards .card h3{
    margin: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color4); 
}
.home-destinations .cards .card img{
    width: 100%;
    height: 65%;
}
.home-destinations .cards .card img:hover{
    transform: scale(1.1);
}
.home-destinations .cards .card .btn_more{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.home-destinations .cards .card .btn_more a{
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    /* border-radius: 20px; */
    padding: 6px 30px;
    font-size: 11px;
    transition: .3s linear;
    margin-left: 80px;
    
}
.home-destinations .cards .card .btn_more a:hover{
    background: var(--main-color);
}
/*cards2*/
.home-destinations .cards2{
    width: 100%;
    height: auto; 
    margin: 5px auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home-destinations .cards2 .card{
    width: 290px;
    height: 300px; 
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
.home-destinations .cards2 .card h3{
    margin: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color4); 
}
.home-destinations .cards2 .card img{
    width: 100%;
    height: 65%;
}
.home-destinations .cards2 .card img:hover{
    transform: scale(1.1);
}
.home-destinations .cards2 .card .btn_more{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.home-destinations .cards2 .card .btn_more a{
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    /* border-radius: 20px; */
    padding: 6px 30px;
    font-size: 11px;
    transition: .3s linear;
    margin-left: 80px;
    
}
.home-destinations .cards2 .card .btn_more a:hover{
    background: var(--main-color);
}



/* about page */
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.about .image{
    flex: 1 1 25rem;
}
.about .image img{
    width: 100%;
}
.about .content{
    flex: 1 1 41rem;
    text-align: center;
}
.about .content h3{
    font-size: 2.5rem;
    color: var(--main-color4);
    margin-top: 3rem;
}
.about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}
.about .content .icons-container .icons{
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 10rem;
}
.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}
.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}



 .reviews {
    background-color: var(--light-bg);
    padding: 3rem 0;
    text-align: center;
  }
  
  .reviews h2 {
    font-size: 2.5rem;
    color: var(--main-color4);
    margin-bottom: 1rem;
  }
  
  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto; /* Add this line to center the grid and apply margins */
    max-width: 1000px; /* Set a maximum width to control the width of the grid */
    padding: 0 20px;
    margin-top: 2rem;
  }
  
  .review {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .stars {
    color: var(--main-color4);
    margin-bottom: 0.5rem;
  }
  
  .stars i {
    font-size: 1.5rem;
    margin-right: 5px;
  }
  
  .review h3 {
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: 0.5rem;
  }
  
.review p {
    font-size: 1.2rem;
    color: var(--light-black);
}
  




.destinations{
    background: var(--light-bg);
}
.destinations .box-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
}
.destinations .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: none;
}
.destinations .box-container .box:nth-child(1),
.destinations .box-container .box:nth-child(2),
.destinations .box-container .box:nth-child(3),
.destinations .box-container .box:nth-child(4),
.destinations .box-container .box:nth-child(5),
.destinations .box-container .box:nth-child(6){
    display: inline-block;
}
.destinations .box-container .box:hover .image img{
    transform: scale(1.1);
}
.destinations .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}
.destinations .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.destinations .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.destinations .box-container .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.destinations .box-container .box .content p{
    font-size: 1.3rem;
    color: var(--light-black);
    line-height: 1.5;
    padding: 1rem 0;
}
.destinations .load-more{
    text-align: center;
    margin-top: 2rem;
}
/* .destinations .image {
    height: 300px;
    width: 400px;
    overflow: hidden;
}
.destinations .image img {
    height: auto;
    width: 400px;
}
.destinations .content{
    height: auto;
    width: 400px;
} */






/* Style for the login form */
.login {
    background: url(../Vraman/img/Forest\ 3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 60px 0;
    padding-top: 5px;
    
}
.login h1 {
    font-size: 35px;
    font-weight: 500;
    color: var(--white);
}
#login-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: -20px;
    padding: 30px;
    background-color: var(--light-white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
    font-size: medium;
}
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    transition: border-color 0.3s ease;
}
.form-group input:focus {
    outline: none;
    border-color: var(--border);
}

.form-group .btn {
    display: inline-block;
    padding: 12px 24px;
    background: var(--main-color3);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.form-group .btn:hover {
    background: var(--main-color2);
}
.signup-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--white);
}

.signup-link a {
    color: var(--light-white);
    text-decoration: underline;
}

.signup-link a:hover {
    color: var(--main-color2);
}



/* Style for the signup form */
.signup {
    background: url(../Vraman/img/Forest\ 3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 60px 0;
    padding-top: 5px;
}
.signup h1{
    font-size: 35px;
    font-weight: 500;
    color: var(--white);
}
#signup-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: -20px;
    padding: 30px;
    background-color: var(--light-white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.signup .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.signup .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
    font-size: medium;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="tel"],
.signup select,
.signup input[type="date"] {
    width: 100%;
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
    font-size: 16px;
}

.signup button {
    display: inline-block;
    padding: 12px 24px;
    background: var(--main-color3);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.signup button:hover {
    background: var(--main-color2);
}
.login-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--white);
}

.login-link a {
    color: var(--light-white);
    text-decoration: underline;
}

.login-link a:hover {
    color: var(--main-color2);
}









.footer{
    background: url(../Vraman/img/footer-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}
.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container .box a i{
    color: var(--main-color2);
    padding-right: 2rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i{
    padding-right: 2.8rem;
}








@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .home .slide .content h3{
        font-size: 3rem;
    }
    
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
    .home-destinations .cards .card {
        width: 100%; /* Make cards full width on smaller screens */
    }
    .home-destinations .cards2 .card{
        width: 100%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading-title{
        font-size: 1.5;
    }
}